body,h1,h2,h3,p,ul,li{
margin: 0;
padding: 0;
}


body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color:#333;
    background: #f9f9f9;
}

header{
    background-color: #008080   ;
    padding: 20px;
    text-align: center;
}

header h1{
    margin-bottom: 10px;
    color: #fff;
    font-size: 32px;
}

nav ul{
    list-style-type: none;

}


nav li{
    display: inline-block;
    margin-right:20px ;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    /* transition: color 0.3s ease-in; */
}
nav li a:hover{
    color: #08e237;
}


main{
    margin: 20px;
}

.blog-post{
    margin-bottom: 30px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}

.blog-post h2{
    color: #008080;
    font-size: 24px;
}

.blog-post p{
    font-size: 18px;
}

aside{
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.author-info{
    text-align: center;
    margin-bottom: 20px;
}

.author-info img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.author-info h2{
    margin-bottom: 5px;
    color: #008080;
    font-size: 20px;
}
.author-info p{
    font-size: 16px;
}


@media (max-width:768px) {
    aside {
        width: 100%;
    }

    header h1{
        font-size: 26px;

    }

    nav li a{
        font-size: 16px;
    }
    
}



